/* roulette-style.css */

/* Styles specific to the roulette.html page */
body {
    margin: 0; /* Reset body margin */
    overflow: hidden; /* Hide overflow to prevent horizontal scrollbar */
}

.image-line {
    display: flex;
    margin-top: 20px;
    overflow: hidden; /* Hide overflowing content (images) */
}

.rounded-box {
    width: 100vw; /* Stretch each box to fill the viewport width */
    height: 100px;
    margin-right: 10px; /* Spacing between images */
    position: relative;
    animation: moveLeft 5s linear infinite; /* Animation to move boxes left */
    border: 2px solid #fff; /* White border */
    box-sizing: border-box; /* Include border in the box size */
}

.rounded-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes moveLeft {
    from {
        left: 0; /* Start from the left edge */
    }
    to {
        left: calc(100vw - 100%); /* Move to the right edge */
    }
}
